<p-toolbar class="fixed bottom-0 w-full">
  <div class="p-toolbar-group-start flex-1">
    <div
      class="flex align-items-center current-song-details"
      *ngIf="player.currentSong"
    >
      <img
        class="ml-2 w-3rem border-round current-song-thumbnail"
        [src]="player.currentSong.album.cover_medium"
      />
      <div class="ml-2">
        <div class="flex">
          <a
            [routerLink]="['/track', player.currentSong.id]"
            class="current-song-track-link my-0 hover:underline"
          >
            <h3 class="my-0">
              {{ player.currentSong.title }}
            </h3>
          </a>
          <p-tag
            class="ml-2 current-song-explicit"
            severity="danger"
            value="Explicit"
            [rounded]="true"
            *ngIf="player.currentSong.explicit_lyrics"
          ></p-tag>
        </div>
        <a
          [routerLink]="['/artist', player.currentSong.artist.id]"
          class="current-song-artist-link hover:underline"
        >
          <p class="my-0">
            {{ player.currentSong.artist.name }}
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="p-toolbar-group-center flex flex-column flex-1">
    <div class="w-full flex justify-content-center mb-2">
      <p-button
        class="player-control-button"
        icon="pi pi-step-backward"
        [rounded]="true"
        [disabled]="true"
      ></p-button>
      <p-button
        (click)="toggleAudio()"
        class="player-control-button mx-2 player-toggle-button"
        [icon]="player.isPlaying ? 'pi pi-pause' : 'pi pi-play'"
        [rounded]="true"
        [disabled]="!player.currentSong"
      ></p-button>
      <p-button
        class="player-control-button"
        icon="pi pi-step-forward"
        [rounded]="true"
        [disabled]="true"
      ></p-button>
    </div>
    <div class="w-full flex align-items-center">
      <span class="relative w-1 current-song-playtime">
        {{ player.currentTime | durationFormat }}
      </span>
      <p-slider
        class="flex-1 mx-4 player-seek-bar"
        [step]="0.01"
        [max]="player.duration!"
        [(ngModel)]="player.currentTime"
        (mousedown)="onSeek()"
        (onSlideEnd)="onSeekEnd()"
      ></p-slider>
      <span class="relative w-1 current-song-duration">
        {{ player.duration | durationFormat }}
      </span>
    </div>
  </div>
  <div class="p-toolbar-group-end flex-1 justify-content-end">
    <div>
      <p-overlayPanel
        [style]="{ width: '450px', padding: '0' }"
        styleClass="pa-0"
        #playListPanel
      >
        <p-listbox
          [options]="playList"
          [listStyle]="{ 'max-height': '250px' }"
          (onClick)="handlePlaylistClick($event)"
          [(ngModel)]="player.currentSong"
        >
          <ng-template let-song pTemplate="item">
            <div class="flex align-items-center">
              <img
                class="ml-2 w-2 border-round"
                [src]="song.album.cover_medium"
              />
              <div class="ml-2">
                <h3 class="my-0">{{ song.title }}</h3>
                <p class="my-0">{{ song.artist.name }}</p>
              </div>
            </div>
          </ng-template>
        </p-listbox>
      </p-overlayPanel>
      <p-button
        (click)="playListPanel.toggle($event)"
        class="player-control-button"
        icon="pi pi-list"
        [rounded]="true"
        [text]="true"
      ></p-button>
    </div>
    <p-button
      class="player-control-button"
      icon="pi pi-volume-up"
      [rounded]="true"
      [text]="true"
    ></p-button>
  </div>
</p-toolbar>
