<main class="h-full">
  <div class="flex-1 overflow-y-auto">
    <div
      class="sidenav fixed w-20rem p-3 top-0 left-0 border-right-1 border-gray-100"
    >
      <h2 class="p-3 m-0">Musica.ly</h2>
      <p-menu styleClass="w-full h-full border-0" [model]="menuItems"></p-menu>
    </div>
    <div class="content relative">
      <div class="w-full">
        <app-search-bar></app-search-bar>
      </div>
      <div class="grid w-full justify-content-center py-3">
        <div class="col-10">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <app-player-controls></app-player-controls>
</main>

<!-- adding comment to test pull request -->
